body {
  background-color: #bbb;
  margin: 0;
}

.overlay {
  z-index: 50;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  z-index: 100;
  position: fixed;
  top: 200px;
  left: 200px;
  right: 200px;
  background-color: white;
}
.navbar-logo {
  width: 50px;
  height: 50px;
}
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.event-page {
  display: flex;
  justify-content: space-evenly;
}
.card {
  border: 1px solid black;
}
.event-infos {
  border: 1px solid black;
}
.markerOnMap {
  width: 30px;
  height: 30px;
  position: relative;
  transform: translate(-50%, -100%);
}

.draggable-image {
  background-size: cover;
  cursor: move;
  overflow: hidden;
  position: relative;
}

#can {
  border: solid black 1px;
  z-index: 2;
  position: relative;
  /* width: 100vw; */
}
